<div class="flex h-screen items-center justify-center bg-gray-200">
  <form [formGroup]="entryForm" (ngSubmit)="newEntry()"
        class="mx-auto max-w-sm rounded bg-gray-200 p-4">

    <div class="mb-4">
      New entry with Reactive Form
    </div>
    <div class="mb-4">
      <label for="date" class="block text-gray-700">Date</label>
      <input
        type="date"
        id="date"
        name="date"
        formControlName="date"
        class="w-full p-2 border border-gray-300 rounded"
        [min]="minDate"
      />
    </div>
    <div
        *ngIf="entryForm.get('date')?.invalid && entryForm.get('date')?.touched"
        class="mt-1 text-red-500"
        >
          Date is required.
    </div>

    <div class="mb-4">
      <label for="exercise" class="block text-gray-700">Exercise</label>
      <input
        type="text"
        id="exercise"
        name="exercise"
        formControlName="exercise"
        class="w-full p-2 border border-gray-300 rounded"
        (focus)="toggleSuggestions(true)"
      />
      <ul
        class="absolute z-10 mt-2 w-auto rounded border border-gray-300 bg-white"
        *ngIf="showSuggestions"
    >
      <li
        *ngFor="let suggestion of exercises$ | async"
        class="cursor-pointer px-3 py-2 hover:bg-blue-500 hover:text-white"
        (click)="selectExercise(suggestion.description)"
      >
        {{ suggestion.description }}
      </li>
    </ul>
    </div>
    <div
        *ngIf="
          entryForm.get('exercise')?.invalid &&
          entryForm.get('exercise')?.touched
        "
        class="mt-1 text-red-500"
        >
          Exercise is required.
    </div>

    <div class="mb-4">
      <label for="sets" class="block text-gray-700">Sets</label>
      <input
        type="number"
        id="sets"
        name="sets"
        formControlName="sets"
        class="w-full p-2 border border-gray-300 rounded"
      />
    </div>
    <div
        *ngIf="entryForm.get('sets')?.invalid && entryForm.get('sets')?.touched"
        class="mt-1 text-red-500"
        >
          Sets is required and must be a positive number.
    </div>
    <div
        *ngIf="
        entryForm.get('sets')?.errors?.['isNotMultiple'] &&
        entryForm.get('sets')?.touched
        "
        class="mt-1 text-red-500"
        >
          sets is required and must be multiple of 2.
  </div>

    <div class="mb-4">
      <label for="reps" class="block text-gray-700">Reps</label>
      <input
        type="number"
        id="reps"
        name="reps"
        formControlName="reps"
        class="w-full p-2 border border-gray-300 rounded"
      />
    </div>
    <div
        *ngIf="entryForm.get('reps')?.invalid && entryForm.get('reps')?.touched"
        class="mt-1 text-red-500"
      >
        Reps is required and must be a positive number.
   </div>
   <div
      *ngIf="
      entryForm.get('reps')?.errors?.['isNotMultiple'] &&
      entryForm.get('reps')?.touched
      "
      class="mt-1 text-red-500"
      >
        Reps is required and must be multiple of 3.
    </div>

    <div class="flex items-center justify-center">
      <button
        type="submit"
        [disabled]="entryForm.invalid"
        [class.opacity-50]="entryForm.invalid"
        class="rounded bg-blue-500 px-4 py-2 font-bold text-white hover:bg-blue-700"
        data-cy="submit"
      >
        Add Entry
      </button>

    </div>

    {{ entryForm.value | json }}
  </form>
</div>



